.container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%
}


    /** Button Style **/
.reg-button {
/** Font Style **/
    /* font-family: 'Marko One', serif; */
    color:#fff !important;
text-decoration:none;
    font-weight:bold;
    text-shadow:rgba(0, 0, 0, 0.30) 0 -1.25px 0;

/** Button Style **/ 
display:-moz-inline-stack;
-webkit-font-smoothing:antialiased;
    display:inline-block;
    vertical-align:middle;
    vertical-align:auto;
    zoom:1;
    margin-top: 5px;
    border:1px solid #2f6428;
    background: #2f6428;
    padding:2px 8px 5px 8px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
    -moz-box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
    box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
}

/** Active State Style **/
.reg-button:active {
    border-color:#083559;
    -webkit-box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    -moz-box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}
  
/** Button Style **/
.log-button {
/** Font Style **/
    /* font-family: 'Marko One', serif; */
    color: white !important;
    text-decoration:none;
    font-weight:bold;
    text-shadow:rgba(252, 252, 252, 0.411) 0 -1.25px 0;

/** Button Style **/ 
display:-moz-inline-stack;
-webkit-font-smoothing:antialiased;
    display:inline-block;
    vertical-align:middle;
    vertical-align:auto;
    zoom:1;
    margin-top: 5px;
    border:1px solid #2f6428;
    background: #2f642850;
    padding:2px 8px 5px 8px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
    -moz-box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
    box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
}

/** Active State Style **/
.log-button:active {
    border-color:#083559;
    -webkit-box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    -moz-box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}
          

/* .icon-inst{
    border-radius: 50%;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.fa-instagram, .fa-facebook{
    color: white;
}
.icon-fb{
    vertical-align: middle;
    background: #3B5998;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    padding: 0;
} */

.nav-logo{
    float: left;
    max-height: 1.6em;
    border-radius: 100%;
    margin-right: 0.8em;
    min-width: 30px;
}

.row {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

#how-it-works{
    background-color: rgb(226, 226, 226);
    background-size: cover;
    font-family: 'Gilda Display', serif;
    padding-bottom: 30px;
}

h1{
    font-family: 'Marko One', serif;
}

h1 {
    padding-top: 0.5em;
    margin-bottom: 0.75em;
    text-align: center;
}

.flow-img{
    width: 40%;
    padding: 0.5em;
}
.flow-num{
    float: left;
    width: 15%;
    padding-top: 5px;
    padding-right: 3px; 
    left: 0px;
}

nav .navbar-brand {
    float:left;
    font-family: 'Marko One', serif;
}

.navbar{
    background-image: url(../img/nav-bg6.jpg);
}
.navbar-nav{
    font-weight: 600;
    font-size: 1.1em;    

}

.banner {
    position: center;
    width: 100%;
    height: auto;
}

#about-us{
    background: beige !important;
    font-family: 'Gilda Display', serif !important;
    padding-bottom: 0.5em;
}

#about-us ul{
    list-style-type: none;
    justify-items: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3%;
}

#about-us h2{
    font-weight: bold;
    padding-top: 0.5em;
}

#about-us li{
    width: 90%;
    display: inline-block;
    text-align: center;
}

img.framed {
    width: 100%;
    max-height: 350px;
    display: inline-grid;
    box-shadow:
    -50px -50px 0 -40px #a7e09c,
    50px 50px 0 -40px #a7e09c;
}
  
  






@media (max-width: 576px) {
    .log-button {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .reg-button {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .flow-img{
        width: 50%;
        padding: 0.5em;
    }
    .container{
        max-width: 100%}  
}

@media (max-width: 650px) {
#about-us ul{
    list-style-type: none;
    justify-items: center;
    display: grid;
    grid-template-columns: 100%;
    padding-left: 0;
    }

#about-us h2{
    font-weight: bold;
    padding-top: 0.5em;
    }

#about-us li{
    width: 80%;
    display: inline-block;
    text-align: center;
    padding-bottom: 2.5em;
    }
img.framed {
    width: 80%;
    max-height: 350px;
    display: inline-grid;
    box-shadow:
    -50px -50px 0 -40px #a7e09c,
    50px 50px 0 -40px #a7e09c;
    }

.banner {
    position: relative;
    width: 649px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
    }
}

@media (max-width: 990px) {
    .log-button {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .reg-button {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}

@media (min-width: 576px) {
    .container{
        max-width: 100%}
    }
@media (min-width: 768px) {
    .container{
        max-width: 100%}    
}
    .navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }

@media (min-width: 992px) {
    .container{
        max-width: 100%}
}

@media (min-width: 1200px) {
    .container{
        max-width: 100%}
}